<section class="about-us" id="about-us">
  <div class="container about-us-wrapper">
    <div class="about-us-wrapper-one">
      <h2 class="about-us-title">About Us</h2>
      <p class="about-us-text">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="about-us-text par">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>

      <a class="about-us-link" href="#catalog">View catalog</a>
    </div>
    <div class="about-us-wrapper-two">
      <picture>
        <source
          srcset="
            ./img/about-us-images/watch.png    1x,
            ./img/about-us-images/watch@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/about-us-images/watch-tab.png    1x,
            ./img/about-us-images/watch-tab@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about-us-images/watch-mob.png    1x,
            ./img/about-us-images/watch-mob@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="about-us-img"
          src="./img/about-us-images/watch.png"
          alt="watch"
        />
      </picture>
    </div>
  </div>
</section>
