<section class="contact-us">
  <h2 class="contact-us-text">Contact Us</h2>
  <div class="container-form">
    <div class="modal">
      <p class="modal-text">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>
      <form class="contact-form" name="contact-us_form">
        <div class="form-wraper-content">
          <label class="modal-form-label" for="user-name"></label>
          <input
            class="modal-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Name"
            required
          />
        </div>
        <div class="form-wraper-content">
          <label class="modal-form-label" for="use-email"></label>
          <input
            class="modal-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
        </div>
        <div class="form-wraper-content">
          <label class="modal-form-label" for="user-tell"></label>
          <input
            class="modal-input"
            type="tel"
            name="user-tell"
            id="user-tell"
            placeholder="+380"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            required
          />
        </div>
        <div class="form-wraper-cont-comment">
          <label class="modal-form-label" for="user-comment"></label>
          <textarea
            class="modal-textarea"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
          ></textarea>
          <button class="modal-submit" type="submit">Send</button>
        </div>
      </form>
    </div>
    <div class="image-form-contact">
      <picture>
        <source
          srcset="
            ./img/contact-us-images/watch.png 1x,
            ./img/contact-us-images/watch.png 2x
          "
          media="min-width: 1280px"
        />
        <source
          srcset="
            ./img/contact-us-images/watch-tab.png 1x,
            ./img/contact-us-images/watch-tab.png 2x
          "
          media="min-width: 768px"
        />
        <source
          srcset="
            ./img/contact-us-images/watch-mob.png 1x,
            ./img/contact-us-images/watch-mob.png 2x
          "
          media="max-width: 767px"
        />
        <img
          class="image-form"
          src="./img/contact-us-images/watch-tab.png"
          alt="black sports watch"
          width="704"
          height="556"
        />
      </picture>
    </div>
  </div>
</section>
