<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="tablet-footer-con-one">
        <div class="tablet-footer-con">
          <a href="#home" class="logo-footer">watchcharm</a>
          <ul class="social-links-list-footer">
            <li class="social-links-footer">
              <a
                target="_blank"
                href="https://www.facebook.com/goITclub/"
                class="social-links-links-footer"
              >
                <svg class="icons-social-footer" width="18" height="18">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links-footer">
              <a
                target="_blank"
                href="https://www.instagram.com/goitclub/"
                class="social-links-links-footer"
              >
                <svg class="icons-social-footer" width="18" height="18">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links-footer">
              <a
                target="_blank"
                href="https://www.youtube.com/c/GoIT"
                class="social-links-links-footer"
              >
                <svg class="icons-social-footer" width="18" height="18">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <address class="address-tel-footer">
          <a href="tel:+380684439426">+380 (68) 443-94-26</a>
        </address>
      </div>
      <p class="text-footer">
        Have the time of your life with our watches: where high class
        craftsmanship meets impeccable design
      </p>
      <div class="cont-menu-terms-privacy-footer footer-pseudo">
        <ul class="menu-list-footer">
          <li class="menu-footer"><a href="#home">Home</a></li>
          <li class="menu-footer"><a href="#about-us">About Us</a></li>
          <li class="menu-footer"><a href="#catalog">Catalog</a></li>
          <li class="menu-footer"><a href="#sale">Sale</a></li>
          <li class="menu-footer"><a href="#reviews">Reviews</a></li>
          <li class="menu-footer"><a href="#contact-us">Contact us</a></li>
        </ul>
        <address>
          <p class="address-footer">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </address>
      </div>
      <div class="terms-privacy-footer-con">
        <p class="terms-privacy-footer">
          ©2023 The Watch Spot. All rights reserved.
        </p>
        <div class="cont-two">
          <a href="#" class="terms-privacy-footer">Terms of Service</a>
          <a href="#" class="terms-privacy-footer">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
