<header class="header">
  <div class="container header-container">
    <nav class="nav-header">
      <a href="./index.html" class="logo-header">watchcharm</a>
      <ul class="nav-list">
        <li><a class="nav-link nav-pseudo" href="#home">Home</a></li>
        <li><a class="nav-link" href="#about-us">About Us</a></li>
        <li><a class="nav-link" href="#catalog">Catalog</a></li>
        <li><a class="nav-link" href="#sale">Sale</a></li>
        <li><a class="nav-link" href="#reviews">Reviews</a></li>
        <li><a class="nav-link" href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>

    <ul class="social-media-list">
      <li>
        <a
          target="_blank"
          href="https://www.facebook.com/goITclub/"
          class="social-link-header"
        >
          <svg width="20" height="20" class="social-link-icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.instagram.com/goitclub/"
          class="social-link-header"
        >
          <svg width="20" height="20" class="social-link-icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.youtube.com/c/GoIT"
          class="social-link-header"
        >
          <svg width="20" height="20" class="social-link-icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button type="button" class="menu-button">
      <svg class="menu-icon" width="28" height="14">
        <use href="./img/icons.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>

  <load src="./partials/menu.html" />
</header>
