<section id="home" class="hero">
  <div class="container hero-container">
    <div class="hero-top-thumb">
      <h1 class="hero-header">
        Welcome to our <span class="hero-span">collection</span> of premium
        watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-bottom-thumb">
      <div class="img-container">
        <img
          class="image image1"
          src="./img/hero-images/blond-circle@2x.png"
          srcset="
            ./img/hero-images/blond-circle.png    1x,
            ./img/hero-images/blond-circle@2x.png 2x
          "
          width="44"
          height="44"
          alt="woman"
        />
        <img
          class="image image2"
          src="./img/hero-images/man-circle@2x.png"
          srcset="
            ./img/hero-images/man-circle.png    1x,
            ./img/hero-images/man-circle@2x.png 2x
          "
          width="44"
          height="44"
          alt="man"
        />
        <img
          class="image image3"
          src="./img/hero-images/brunette-circle@2x.png"
          srcset="
            ./img/hero-images/brunette-circle.png    1x,
            ./img/hero-images/brunette-circle@2x.png 2x
          "
          width="44"
          height="44"
          alt="woman"
        />
      </div>

      <a href="#footer" class="scroll-button">Scroll down</a>
    </div>
  </div>
  <div class="container hero-image-container">
    <picture>
      <source
        srcset="
          ./img/hero-images/watch.jpg    1x,
          ./img/hero-images/watch@2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./img/hero-images/watch-tab.jpg    1x,
          ./img/hero-images/watch-tab@2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./img/hero-images/watch-mob.jpg    1x,
          ./img/hero-images/watch-mob@2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img src="./img/hero-images/watch@2x.jpg" alt="watch" />
    </picture>
  </div>
</section>
