<div class="mobile-menu is-open">
    <div class="container mobile-menu-container">
        <button class="mobile-menu-close" type="button">
            <svg class="close-icon-mobile-menu" width="17" height="17">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>
        <nav class="mobile-menu-nav">
            <ul class="nav-list-mobile">
                <li class="list-mobile"><a class="nav-link-mobile nav-pseudo" href="#home">Home</a></li>
                <li class="list-mobile"><a class="nav-link-mobile" href="#about-us">About Us</a></li>
                <li class="list-mobile"><a class="nav-link-mobile" href="#catalog">Catalog</a></li>
                <li class="list-mobile"><a class="nav-link-mobile" href="#sale">Sale</a></li>
                <li class="list-mobile"><a class="nav-link-mobile" href="#reviews">Reviews</a></li>
                <li class="list-mobile"><a class="nav-link-mobile" href="#contact-us">Contact Us</a></li>
                <div class="icon-list-mobile">
                    <ul class="social-media-list-mobile">
                        <li class="icon-mobile">
                            <a target="_blank" href="https://www.facebook.com/goITclub/"
                                class="social-link-header-mobile">
                                <svg width="18" height="18" class="social-link-icon-mobile">
                                    <use href="./img/icons.svg#icon-facebook"></use>
                                </svg></a>
                        </li>
                        <li class="icon-mobile">
                            <a target="_blank" href="https://www.instagram.com/goitclub/"
                                class="social-link-header-mobile">
                                <svg width="18" height="18" class="social-link-icon-mobile">
                                    <use href="./img/icons.svg#icon-instagram"></use>
                                </svg></a>
                        </li>
                        <li class="icon-mobile">
                            <a target="_blank" href="https://www.youtube.com/c/GoIT" class="social-link-header-mobile">
                                <svg width="18" height="18" class="social-link-icon-mobile">
                                    <use href="./img/icons.svg#icon-youtube"></use>
                                </svg></a>
                        </li>
                    </ul>
                </div>
    </div>
</div>
</header>