<section class="reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
<img srcset="./img/reviews-images/man-circle.png 1x, ./img/reviews-images/man-circle@2x.png 2x" src="./img/reviews-images/man-circle.png" width="56" height="56" alt="John Wax"/>
<h3 class="reviews-name">John Wax</h3>
<p class="reviews-text">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
      </li>
      <li class="reviews-item tablet-hidden">
        <img srcset="./img/reviews-images/blond-circle.png 1x, ./img/reviews-images/blond-circle@2x.png 2x" src="./img/reviews-images/blond-circle.png" width="56" height="56" alt="Victoria Romashenko" />
        <h3 class="reviews-name">Victoria Romashenko</h3>
        <p class="reviews-text">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.</p>
      </li>
      <li class="reviews-item desktop-hidden">
        <img srcset="./img/reviews-images/brunette-circle.png 1x, ./img/reviews-images/brunette-circle@2x.png 2x" src="./img/reviews-images/brunette-circle.png" width="56" height="56" alt="Anastasia Trachuk"/>
        <h3 class="reviews-name">Anastasia Trachuk</h3>
        <p class="reviews-text">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.</p>
      </li>
    </ul>
  </div>
</section>
