<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch Charm</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      rel="stylesheet"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <main>
      <section class="reviews-section" id="reviews">
        <div class="container reviews-container">
          <h2 class="reviews-title">Reviews</h2>
          <ul class="reviews-list">
            <li class="reviews-item">
<img src="../img/reviews-images/man-circle.png" width="56" />
<h3 class="reviews-name">John Wax</h3>
<p class="reviews-text">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
            </li>
            <li class="reviews-item-blond hidden">
              <img src="../img/reviews-images/blond-circle.png" width="56" />
              <h3 class="reviews-name">Victoria Romashenko</h3>
              <p class="reviews-text">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.</p>
            </li>
            <li class="reviews-item-brunette hidden">
              <img src="../img/reviews-images/brunette-circle.png" width="56" />
              <h3 class="reviews-name">Anastasia Trachuk</h3>
              <p class="reviews-text">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.</p>
            </li>
          </ul>
        </div>
      </section>
    </main>
 </body>
</html>