<section class="section" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-watch-appearance">
      <ul class="sale-watch-list">
        <li class="sale-watch-item">
          <picture class="sale-watch-item-pic">
            <source
              srcset="
                ./img/sale-images/first-watch.png    1x,
                ./img/sale-images/first-watch@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale-images/first-watch-mob.png    1x,
                ./img/sale-images/first-watch-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-img"
              src="./img/sale-images/first-watch.png"
              alt="first-watch"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-watch-item">
          <picture class="sale-watch-item-pic">
            <source
              srcset="
                ./img/sale-images/second-watch.png    1x,
                ./img/sale-images/second-watch@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale-images/second-watch-mob.png    1x,
                ./img/sale-images/second-watch-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-img"
              src="./img/sale-images/second-watch.png"
              alt="second-watch-mob"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-watch-item">
          <picture class="sale-watch-item-pic">
            <source
              srcset="
                ./img/sale-images/three-watch.png    1x,
                ./img/sale-images/three-watch@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale-images/three-watch-mob.png    1x,
                ./img/sale-images/three-watch-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-img"
              src="./img/sale-images/three-watch.png"
              alt="three-watch-mob"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-watch-item">
          <picture class="sale-watch-item-pic">
            <source
              srcset="
                ./img/sale-images/four-watch.png    1x,
                ./img/sale-images/four-watch@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale-images/four-watch-mob.png    1x,
                ./img/sale-images/four-watch-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-img"
              src="./img/sale-images/four-watch.png"
              alt="four-watch"
              width="96"
              height="100"
            />
          </picture>
        </li>
      </ul>
      <div class="sale-big-watch-box">
        <picture>
          <source
            srcset="
              ./img/sale-images/big-watch.png    1x,
              ./img/sale-images/big-watch@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/sale-images/big-watch-mob.png    1x,
              ./img/sale-images/big-watch-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sale-big-watch"
            src="./img/sale-images/big-watch.png"
            alt="big-watch"
            width="328"
            height="398"
          />
        </picture>
      </div>
    </div>
    <div class="sale-watch-describe">
      <h3 class="sale-describe-title">
        MARQ® Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="sale-prod-tag">Product tag: 706587</p>
      <div class="sale-prices">
        <p class="sale-price-wrap"><span class="sale-price">€1500</span></p>
        <p class="sale-preprice">€3000</p>
      </div>

      <p class="sale-text">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sale-watch-advantages-list">
        <li class="sale-watch-advantages">
          <p class="sale-watch-advantages-text">Fused carbon fiber</p>
        </li>
        <li class="sale-watch-advantages">
          <p class="sale-watch-advantages-text">Grade-5 Titanuim</p>
        </li>
        <li class="sale-watch-advantages">
          <p class="sale-watch-advantages-text">Athlete</p>
        </li>
        <li class="sale-watch-advantages">
          <p class="sale-watch-advantages-text">Golfer</p>
        </li>
        <li class="sale-watch-advantages">
          <p class="sale-watch-advantages-text">Commander</p>
        </li>
        <li class="sale-watch-advantages">
          <p class="sale-watch-advantages-text">Adventurer</p>
        </li>
      </ul>
    </div>
  </div>
</section>
