.header {
  padding: 20px;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}
.menu-button {
  display: flex;
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  display: block;
  stroke-width: 3px;
  stroke: #0c0c0c;
}
.nav-list {
  display: none;
}
.social-media-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }
  .logo-header {
    font-size: 20px;
  }
  .menu-button {
    width: 40px;
    height: 40px;
    padding: 14.17px 5px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-button,
  .menu-icon {
    display: none;
  }
  .header {
    padding: 26px 0;
  }
  /* .header-container {
    display: flex;
    align-items: center;
  } */
  .logo-header {
    margin-right: 203px;
  }
  .nav-header {
    display: flex;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    align-items: baseline;
    flex-direction: row;
  }
  .social-media-list {
    display: flex;
    gap: 10px;
  }
  .nav-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
  }
  .nav-link.nav-pseudo {
    position: relative;
  }
  .nav-link.nav-pseudo::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    bottom: -10px;
    background-color: #3350e9;
  }

  .social-link-header {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link-header:hover,
  .social-link-herder:focus {
    border-color: rgba(51, 80, 233, 0.1);
  }
  .social-link-icon {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link-icon:hover,
  .social-link-icon:focus {
    fill: #3350e9;
  }
}
