@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
      url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
      url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
      url('../fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
      url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    font-family: 'Gilroy', sans-serif;
    color: #0c0c0c;
    background-color: #fbfbfb;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
  }
  h1 {
    font-family: 'Gilroy';
    font-weight: 600;
  }
  
  p {
    font-family: 'Gilroy';
    font-weight: 500;
  }
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  picture {
    flex-shrink: 0;
    max-width: 100%;
  }
  input {
    font-family: inherit;
  }
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
  .hidden {
    display: none;
  }

.reviews-section {
  padding-top: 60px;
 
}

.reviews-container {
  display: flex;
  flex-direction: column;
}

.reviews-title {
  font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.02em;
color: #0c0c0c;
padding-bottom: 24px;
}

.reviews-list {
  display: flex;
  justify-content: space-between
}

 .reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 263px;
  border-radius: 30px;
padding: 32px 36px;
max-width: 335px;
background-color: #f3f3f3;
}  

.reviews-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
padding-top: 24px;
padding-bottom: 8px;
}

.reviews-text {
  font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.02em;
text-align: center;
color: rgba(12, 12, 12, 0.4);
}

@media screen and (min-width: 375px) {
  .container {
      max-width: 375px;
      }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    }

.reviews-title {
  font-weight: 600;
font-size: 48px;
line-height: 0.9;
letter-spacing: -0.02em;
color: #0c0c0c;
padding-bottom: 40px;
}

.reviews-list {
gap: 16px;

}

.reviews-item{
  max-width: 344px;
}

.reviews-item-blond {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
padding: 32px 36px;
max-width: 344px;
background-color: #f3f3f3;
}

.reviews-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
}

.reviews-text {
  font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
text-align: center;
color: rgba(12, 12, 12, 0.4);
}
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
    }

    .reviews-list {
      
      gap: 20px;
      }

      .reviews-item{
        max-width: 370px;
      }

      .reviews-item-blond {
        max-width: 370px;
      
       }

      .reviews-item-brunette {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 30px;
      padding: 32px 36px;
      max-width: 370px;
      background-color: #f3f3f3;
      }
}