
.section {
}
.container {
}
.sale-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}
.sale-watch-appearance {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
.sale-watch-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.sale-watch-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 16px;
    width: 80px;
    height: 80px;
    background-color: #f3f3f3;
}
.sale-img {
    width: 52px;
    height: 54px;
    padding: 13px 14px;
}
.sale-big-watch {
}
.sale-watch-describe {
}
.sale-describe-title {
}
.sale-prod-tag {
}
.sale-price {
}
.sale-preprice {
}
.sale-text {
}
.sale-watch-advantages-list {
}
.sale-watch-advantages {
}